{% extends "layout/main.html" %}

{% block styles %}{% endblock %}

{% block body %}

		<p>
		We are Fantastic Five:<br />
		Sae, Ioni, Heesun, Yoonjo and Hiye.
		<br />
		<br />
		Sae directed the video and did post–production.
		<br />
		<br />
		Ioni composed the music, and performed on stages.
		<br />
		<br />
		Heesun designed and create the costume.
		<br />
		<br />
		<a href ="http://www.yoonjochoi.com" target= "_blank">Yoonjo</a> made that costume blinking in the dark.
		<br />
		<br />
		And <a href ="http//:www.hiyeshin.com" target = "_blank">Hiye</a> create the visual effects for the video and made this website.




		</p>
{% endblock%}