<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>gotham project</title>
	</head>


	<body>		 

	<div id="three"> </div>

	<script charset="utf-8" src="scripts/jquery.js"></script>
	<script charset="utf-8" src="scripts/three.js"></script>
	<script charset="utf-8" src="scripts/skip.js"></script>
	<script charset="utf-8" src="scripts/application.js"></script>
	<script charset="utf-8" src="scripts/ColladaLoader.js"></script>
		

		<footer>
			<div id = "instruction" >
				<p> Please submit your picture.</p>
			</div>
		</footer>
	</body>
</html>