{% extends "layout/main.html" %}

{% block styles %}
<style>
img {
	windth: 320px;
}
</style>

{% endblock %}


{% block body %}

		<div class="container"> 
			<!-- // <script src="{{ url_for('static', filename='scripts/application.js') }}"></script> -->
		</div>

		<div id="uploaded">
			{% if form.errors %}
			<ul class="errors">
				{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
						<li class="alert alert-error">
							{{ form[field_name].label.text }} - {{ error }}
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
			{% endif %}


	
			<form method="POST" enctype="multipart/form-data">
				{{ form.fileupload.label }}
				{{ form.fileupload }}
				<input button type="submit" class="picture" value="upload">
			</form>
		</div>

		<div id="album">
			<h2>Album</h2>
			<hr>
			{% for img in images %}
			<img src="https://s3.amazonaws.com/gotham_project/{{img.filename}}" class="img-polaroid">
			<p>{{ img.timestamp.strftime("%m/%d/%y")}}</p>
			<a href="/delete/{{img.id}}">delete</a>
			<hr> 
			{% endfor %}
		</div>



{% endblock%}


{% block scripts %}
 <script src="{{ url_for('static', filename='scripts/application.js') }}"></script>
{% endblock %}


