{% extends "layout/main.html" %}




{% block body %}

		<div class="container"> 
			<!-- // <script src="{{ url_for('static', filename='scripts/application.js') }}"></script> -->
		</div>

		<form>
			<button type="submit" class="phase1">not-working Phase 1</button>
			<button type="submit" class="phase2">not-working Phase 2</button>
			<button type="submit" class="phase3">not-working Phase 3</button>
			<button type="submit" class="phase4">not-working Phase 4</button>
		</form>

	
		<!-- <footer>
			<div id = "instruction" >
				<p> Gotham Project</p>
			</div>
		</footer> -->

{% endblock%}


{% block scripts %}
 <script src="{{ url_for('static', filename='scripts/application.js') }}"></script>
 {% endblock %}


