

{% extends "layout/main.html" %}

{% block styles %}{% endblock %}

{% block body %}

		<p>
		<i>Gotham Project</i>’s narrative explores the spirituality of internet: how human psychology goes through transformation and transfiguration as they enter the cyber space. It draws parallel between the mythical world of spirits and our seemingly ordinary existance in the cyber space. <i>Gotham Project</i> consists of four phases of the journey our minds take upon as we enter the world of internet:
		<br />
		<br />
		1. The Covenant
		<br />
		As one enter the world of internet, we make a huge leap of faith into belieing in the Internet as extension of our reality. This phase is about how we breathe life into internet through our almost religious commitment.
		<br />
		<br />
		2. Surface Digital
		<br />This phase is the journey through the surface of Internet where all of the existence in the cyberspace consists of dots, lines and triangulated surfaces. 
		<br />
		<br />
		3. Wireframe
		<br />In this phase, we enter the world of infrastructure that is in the abyss of the internet. as our mind travels through the optical cables that carry binary messages it leaves our body and starts traveling all around the world at the speed of light.
		<br />
		<br />
		4. Transfiguration
		<br />Last phase explores how the internet experience transforms and transfigures our world. It is the begining of our new incarnation.
		</p>

		<p>
		
		</p>
{% endblock%}