
body
{

	margin: 0px;
	background: #ffffff;
	color: #000000;
	font-size:   14px;
	/*line-height: 20px;*/
	overflow: hidden;
	
}

h6{

	top: 0px; 
	width: 100%;
	color: #ffffff;
	margin: 8px;
	padding: -10px;				
	text-align:left;

	font-family: "Mrs Eaves OT", Georgia, Times, serif;
	/*font-family: "Courier", serif;*/
	font-size:   14px;
	/*font-style: italic;*/
	font-weight: bold;
	color: #ffffff;
}

footer{	

	position: absolute;
	font-family: "Mrs Eaves OT", Georgia, Times, serif;
	/*font-family: "Courier", serif;*/
	font-size:   14px;
	line-height: 15px;
	/*font-style: italic;*/
	font-weight: bold;
	
	/*top: 643px; */
	top: 550px;
	/*top: height / 2;*/
	width: 100%;
	color: #ffffff;
	padding: 38px;
				
	text-align:left;
	z-index:1000;

}


a: link{	
	font-size:   28px;
	color: #9ae7c7;
	text-decoration: none;
}

a: hover{
	font-size:   28px;
	color: #9ae7c7;	
	text-decoration: underline;

}

a: visited{	font-size:   28px;
	color: #9ae7c7;
	text-decoration: none;
}


#three
{	
	width: 100%;
	height: 100%;
}

