
body
{

	margin: 0px;
	background: #000000;
	color: #ffffff;
	font-size:   18px;
	font-family: "Courier", serif;
	line-height: 20px;
	overflow: hidden;
	
}

h1{
	color: #ffffff;
	font-family: "Futura", Helvetica, sans-serif;
}

h2{
	top: 0px; 
	width: 100%;
	color: #ffffff;
	margin: 8px;
	padding: -10px;				
	text-align:left;
	font-family: "Futura", Helvetica, sans-serif;
	/*font-family: "Courier", serif;*/
	font-size: 12px;
	/*font-style: italic;*/
	font-weight: bold;
}

footer{	

	position: absolute;
	font-family: "Georgia", Times, serif;
	font-size:   14px;
	line-height: 15px;
	font-style: italic;
	font-weight: bold;
	
	top: 90%;
	/*top: height / 2;*/
	width: 100%;
	color: #ffffff;
	padding: 38px;
				
	text-align:center;
	z-index:1000;

}

#navigation a { position: relative; }


#navigation a .hover{
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

/*
a: hover{
	font-size:   28px;
	color: #9ae7c7;	
	text-decoration: underline;

}*/


/*a: link{	
	font-size:   28px;
	color: #9ae7c7;
	text-decoration: none;
}



a: visited{	font-size:   28px;
	color: #9ae7c7;
	text-decoration: none;
}
*/

#three
{	
	width: 100%;
	height: 100%;
}

