* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body
{

	margin: 0px;
	padding: 0px;
	background: #111111;
	color: #ffffff;
	font-size:   18px;
	font-family: "Helvetica", sans-serif;
	line-height: 20px;
	overflow: hidden;
	
}

.container {
	position: absolute;
	width: 500%;
	height: 100%;
	z-index: 0;
}



h1{
	color: #ffffff;
	font-family: "Futura", Helvetica, sans-serif;
}

h2{
	top: 0px; 
	width: 100%;
	color: #ffffff;
	margin: 8px;
	padding: -10px;				
	text-align:left;
	font-family: "Futura", Helvetica, sans-serif;
	/*font-family: "Courier", serif;*/
	font-size: 12px;
	/*font-style: italic;*/
	font-weight: bold;
}

p {
	line-height: 1.4;
	text-shadow: 1px 1px 1px #000;
}

footer{	

	position: absolute;
	font-family: "Georgia", Times, serif;
	font-size:   14px;
	line-height: 15px;
	font-style: italic;
	font-weight: bold;
	
	top: 90%;
	/*top: height / 2;*/
	width: 100%;
	color: #ffffff;
	padding: 38px;
				
	text-align:center;
	z-index:1000;

}

#navigation a { position: relative; }


#navigation a .hover{
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}


/*video pages*/
.screen {
	position: relative;
	height: 100%;
	width: 20%; /* this should be numVideos / 100% */
	float: left;
	overflow: hidden;
}


.big-image {
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
}


.video-title {
	position: absolute;
	top: 5%;
	right: 5%;
	opacity: 0.5;
	margin: 40px 0px 0px 0px;
	padding: 0px;
	line-height: 0.65;
	font-size: 20px;
}

/* nav */

nav {
	position: absolute;
	right: 5%;
	top:45%;
	padding: 20px;
	background: #000000;
	border-radius: 40px;
	opacity: 0.4px;
	cursor: pointer;
	z-index: 1000;
}


.next-icon {
	display: block;
	border-top: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	width: 20px;
	height: 20px;
	position: relative;
	left: -5px;
	color: #ffffff;
}