<!DOCTYPE html>
 <!-- Special Thanks to JOHN POLACEK, who wrote an awesome tutorial with video and sliders -->

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <!--> <html lang="en"> <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="Gotham Project Website" />
        <meta name = "author" content = "Hiye Shin" />
        <meta name = "keywords" content = "fullscreen, video, interactive, performance, gotham, project" />
        <meta name = "viewport" content = "width=device-width">
       
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bigvideo.css') }}">
        <script src="{{ url_for('static', filename='scripts/modernizr-2.5.3.min.js') }}"></script>
        <!-- this is Grotesque Font for localhost -->
        <script type="text/javascript" src="//use.typekit.net/fzd8tch.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
        <!-- this is for gothamproject.info -->
        <script type="text/javascript" src="//use.typekit.net/gpy0rxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
        <!-- this is for herokuapp -->
        <script type="text/javascript" src="//use.typekit.net/lqn3lxo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
   
        {% block styles %}{% endblock %}
         <!--[if lt IE 7]>
           <style>
           /* Rotation of the arrow element for IE < 9 */
        .next-icon { /* IE Matrix Calculator - http: //www.boogdesign.com/examples/transforms/matrix-calculator.html */;
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand')";
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678,sizingMethod='auto expand');
        }</style>
        <![endif]-->
</head>


 <body>
    <div id = "header" class = "header">
            <a href = "/"><img src = "{{ url_for('static', filename = 'img/gotham_title.png') }}" ></a>
    </div>

    <div class = "container">
        <ul class = "menu-nav">
            <li>
                <a href = "/info">INFORMATION</a>
            </li>

            <li>
                <a href = "/about">ABOUT US</a>
            </li>

            <li>
                <a href = "/contact">CONTACT</a>
            </li>
        </ul>

        <div class = "text-container">
        {% block body %}{% endblock %}
        </div>
    </div>

    <div class = "wrapper">
        <div class = "screen" id = "screen-1" data-video = "http://itp.nyu.edu/~hs1571/hiyeblog/wp-content/uploads/2013/02/face1_1.mp4" >
        <!-- <div class = "screen" id = "screen-1" data-video = "{{ url_for('static', filename = 'media/face1_1.mp4') }}"> -->
            <img src = "{{ url_for('static', filename = 'img/bigvideo_bg.jpg') }}" class = "big-image" />
        </div>
    </div>

    <nav id = "next-btn">
        <a href = "/#" class = "next-icon"></a>
    </nav>

     
        
    <footer>
        ©2013 GOTHAM PROJECT<br/> 
        BY <a href ="http://www.hiyeshin.com" target = "_blank" >HIYE SHIN</a><br/>
    </footer>


        <!-- BigVideo Dependencies -->      
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='scripts/jquery-1.8.1.min.js')}}"><\/script>')</script>
        <script src="{{ url_for('static', filename='scripts/jquery-ui-1.8.22.custom.min.js') }}"></script>    
        <script src="{{ url_for('static', filename='scripts/jquery.imagesloaded.min.js') }}"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>

        <!-- BigVideo -->
        <script src="{{ url_for('static', filename='scripts/bigvideo.js') }}"></script>
        
        <script src="{{ url_for('static', filename='scripts/jquery.transit.min.js') }}"></script>
        
        <script src="{{ url_for('static', filename='scripts/gotham.js') }}"></script>

       
        {% block scripts %}{% endblock %}

    </body>
</html>
